{% extends "magasin/base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5 bg-light">
        <div class="card-body">
          <h2 class="card-title text-center">Se connecter</h2>
          <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            {% endif %}
            <div class="mb-3">
              <label for="id_username" class="form-label">Nom d'utilisateur</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label">Mot de passe</label>
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
          </form>
          <div class="text-center mt-3">
            <p class="mb-0">Pas encore inscrit.e? <a href="{% url 'register' %}" class="btn btn-link">S'inscrire</a></p>
            <p>Mot de passe oublié? <a href="#" class="btn btn-link">Renouveler mon mot de passe</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
